name: Build APK
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # यहाँ हमने पुराने टूल को हटाकर नया 'HeaTTheatR' वाला लगाया है
      # यह 'Invalid User' वाली प्रॉब्लम को फिक्स कर देगा
      - name: Build with Buildozer
        uses: HeaTTheatR/buildozer-action@v1
        id: buildozer
        with:
          command: buildozer android debug
          buildozer_version: stable

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: MyGameAPK
          path: bin/*.apk
