name: Build APK
on:
  push:
    branches: [ main ]

jobs:
  build:
    # यहाँ हमने 'latest' की जगह '20.04' कर दिया है
    # यह उस "User Error" को पूरी तरह खत्म कर देगा
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v4

      # हम वापस पुराने और भरोसेमंद टूल का ही इस्तेमाल करेंगे
      - name: Build with Buildozer
        uses: ArtemSBulgakov/buildozer-action@v1
        id: buildozer
        with:
          command: buildozer android debug
          buildozer_version: stable

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: MyGameAPK
          path: bin/*.apk
